h1 {
    text-align: center;
    color: #705676;
}
h2 {
    text-align: center;
    color: #532851;
}
th {
    background-color: #E8DBC5;
    color: #98625D;
    font-size: 20px;
    text-align: center !important;
}
.tag {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #955F8A;
    font-size: 17px; 
}
#padding {
    padding-right: 75px;
}
body {
    background-color: #FFF4E9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table, th, td {
    border: 1px solid #532851;
}
table {
    margin: 0 auto; 
    border-collapse: collapse; 
    width: 80%;
}
th, td {
    padding: 15px; 
    text-align: left;
}